/* Чем мы занимаемся */

.occupation {
  display: none;
}

@include mq(tablet) {
  display: none;
}

@include mq(desktop) {
  .occupation-box > .list {
    display: flex;

    z-index: -1;
  }

  .occupation {
    li {
      margin-left: 30px;
      position: relative;

      &:first-child {
        margin-left: 0px;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }

    &-info {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    &-box p {
      position: absolute;
      bottom: 0;
      color: var(--secondary-text-color);
      background-color: rgba(47, 48, 58, 0.8);
      width: 100%;
      padding: 27px;
    }
  }
}
