/* ---------------Глобальные стили-------------- */

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Удаляем стандартные стили списков*/
ul {
  list-style: none;
}

/* Убираем лишние стили ссылок */
a {
  text-decoration: none;
}

/* Общие стили заголовков */
h1 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Основа */
.site {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}

.container {
  max-width: 480px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1200px;
  }
}

.section {
  padding: 94px 0px;
  min-width: 360px;

  @include mq(tablet) {
    min-width: 768px;
  }

  @include mq(desktop) {
    min-width: 1280px;
  }
}
