:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --extra-text-color: #757575;
  --hero-footer-background-color: #2f303a;
  --focus-color: #2196f3;
  --our-team-bg-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo: #000000;
  --filter-button-bg-color: #f5f4fa;

  /* Функция распределения времени */
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);

  // Шрифты
  --main-font: roboto, sans-serif;
  --additional-font: raleway, sans-serif;
}
